<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://i.stack.imgur.com/QO0jt.png"
    alt="Notice_photo">
  </div>
  <div class="big-card_date">
    <span>2023-01-25</span>
  </div>
  <div class="big-card_title">
    <h2>Angular Release New Version</h2>
  </div>
  <div class="big-card_description">
    <p>Incididunt ut non duis ea eu tempor pariatur. Deserunt reprehenderit veniam consequat ea est in. Ut irure ipsum duis aliquip ullamco aliquip. Et et deserunt nulla consectetur dolore nisi cillum irure amet non sit mollit ut reprehenderit.</p>
  </div>
</div>
