.container_content {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.content_cover img {
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content_description p {
  color: grey;
}
