<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card id="0" photoCover="https://i.stack.imgur.com/QO0jt.png" date="2023-01-25"
      title="Angular Release New Version"
      description="Irure Lorem duis velit aute reprehenderit. Quis incididunt aliquip duis deserunt aute laborum dolore sunt duis nostrud cillum ex minim qui. Nisi adipisicing anim sit fugiat duis culpa quis magna aute."
    ></app-big-card>
  </div>

  <div class="articles_list">
    <app-small-card id="1" photoCover="https://assets.xboxservices.com/assets/e0/94/e094ff7a-f3a2-45bd-9efa-ab14e94e5169.jpg?n=75295231_GLP-Page-Hero-1084_1920x1080.jpg"
    title="Monster Hunter Rise Best Mechanics"></app-small-card>
    <app-small-card id="2" photoCover="https://scarletviolet.pokemon.com/images/meta/en/share-fb.jpg"
      title="Goldego Banned in Pokémon Scarlet Violet"></app-small-card>
    <app-small-card id="3" photoCover="https://static.kinguin.net/media/catalog/category/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/ult_173_1_1_3.jpeg"
    title="Game Pass Ultimate with Discount"></app-small-card>
  </div>
</div>
